/*
*{
  padding: 0px;
  margin: 0px;
}*/

body{
  background-color: #e4e4e4;
  margin: 0px;
  padding: 0px;
}
.container{
/*        border: 4px solid green;*/
        display: grid;
        align-items: center;
        grid-gap: 2px;
        grid-template-areas: 
        'head head head  head head'
        'navbar navbar  navbar navbar' 
        'section1 section1 section1 section1'
        'section section section section'
        'aside  aside aside aside'
        'footer  footer footer footer ';

    }
    .item{
/*        background-color: gold;*/
/*        border: 3px solid black;*/
        padding: 12px 23px;
        font-weight: bold;
        font-size: 17px;
                align-items: center;
    }
    a:link {
  text-decoration: none;
 
}

 
i {
  cursor: pointer;
}


    #head{  /*for two columns in header*/
/*        grid-area: top;*/
        background: rgb(52,165,227);
        background: linear-gradient(90deg, rgba(52,165,227,1) 0%, rgba(0,68,105,1) 47%, rgba(0,121,185,1) 100%);
        height: 30px;
        display: grid;

        grid-template-columns: 40px auto 150px;
        grid-gap: 10px;
        /*border: 2px solid black;*/
      }


/*    this is for border in columns *//*#header div{
      border: 2px solid black;
    }*/
 
    .topp{
      padding: 5px;
      margin: 0px;
      text-align: center;
      color: white;
      font-size: 15px;

    }
    .topbtn{
      border-radius: 10px;
      font-weight: bold;
      background: rgb(14,126,187);
      background: linear-gradient(90deg, rgba(14,126,187,1) 0%, rgba(0,68,105,1) 47%, rgba(0,67,158,1) 100%);
      color: white;
      padding: 5px;
    }
    .topbtn:hover{
      border-radius: 12px;
      color: white;
      padding: 8px;
      transition: 0.7s;
      cursor: pointer;

    }


 


    #navbar{
        grid-area: navbar;
        height: 35px;
        background-color:#e4e4e4 ;
        text-align: right;
        align-items: right;
        font-family: cursive;
        position: sticky;
        top: 0;
        margin: 10px;

        /*border: 2px solid black;*/

    }
    nav  a {
        color: black;
        font-size: 15px;
        padding:  20px ;
        
}


nav a:link:hover{
  text-decoration: underline;
  background-color: #1290d3;
  border-radius: 20px;
  transition-duration: 1s;
   text-shadow: 5px 15px 15px black;
   padding: 13px;
   color: white;
}


  .home{
    border: 3px solid darkred;
    border-radius: 18px;
    padding: 12px;

  }



    #section1{
      grid-area: section1;
      /*border: 3px solid darkred;*/
      display: flex;


    }

    .pp1{
      width: 250px;
      height: 300px;
    }

          .photo{
            
            
      margin: auto;

          }


.wel{
      text-align: center;
    }      

    #section{
        margin: 20px;background: rgb(226,224,224);
        background: linear-gradient(90deg, rgba(226,224,224,1) 0%, rgba(157,157,157,1) 100%);
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
/*        border: 2px solid blue;*/


      



    }
    #section div{
      margin: 30px;
    
      text-align: justify;


/*      border: 3px solid black;*/
          }

    .btn{

      margin-left: 100px;
      margin-top: 2px;  
      background: rgb(14,126,187);
      background: linear-gradient(90deg, rgba(14,126,187,1) 0%, rgba(0,68,105,1) 47%, rgba(0,67,158,1) 100%);
    width: 100px;
    height: 50px;
    color:white;
    border-radius: 15px;

    }
    .btn:hover{
      cursor: pointer;
      background: rgb(14,126,187);
      background: linear-gradient(90deg, rgba(14,126,187,1) 0%, rgba(0,68,105,1) 47%, rgba(0,67,158,1) 100%);
      width: 110px;
      transition: 0.7s;
    }

  




    #aside{
       
        grid-area: aside;
        background-color: #adadad;
        display: grid;
        grid-template-columns:2fr 2fr  3fr;
        grid-gap: 10px;
        text-align: justify;
    }


    .footcon{
      text-align: center;
    }

#aside div{
        height: 220px;

}

.Follow{
  margin: auto;
  padding: 0px 20px 0px 50px;
  font-size: 20px;
}




.Follow i{
  padding: 10px;
  font-size: 30px;
margin-top: 25px;
  text-align: center;
}

div form{
/*  border: 2px solid red;*/
  padding: 5px;
  float: right;
}
fieldset{
  border: 3px solid darkred;
  border-radius: 10px;
}
.btm{
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
/*  border: 2px solid black;*/

}
.txt{
   padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: 45%;
}


   #footer{
        grid-area: footer;
          background: rgb(52,165,227);
          background: linear-gradient(90deg, rgba(52,165,227,1) 0%, rgba(0,68,105,1) 47%, rgba(0,121,185,1) 100%);
        text-align: center;
        font-weight: bold;
        height: 35px;
        color: white;

    }











.line{
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 3px;
  border-radius: 3px;
}
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 2%;
}


.ppp{
  display: none;
}


.footBtm{
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,67,158,1) 100%);  
}
.footBtm:hover{
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  width: 100px;
  box-shadow: 5px 3px #4c4a4a;
  transition: 1.3s;
}




/*This css is for contact*/


.ContactContainer{

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr   1fr;
  background: silver;
  background: rgb(84,145,240);
background: linear-gradient(90deg, rgba(84,145,240,1) 0%, rgba(87,135,203,1) 34%, rgba(2,84,196,1) 100%);
}


.Contactbtm{
  width: 50%;
  height: 25px;
  margin: 10px;
  float: left;
  border: 1px solid darkred;
  border-radius: 10px;


}



.ContactForm input{
  
  background-color: silver;

}

.ContactContent{
  
  margin: auto;
}

.ContactContent h2{
  text-align: center;
}
.ContactContent p{
  text-align: center;
  padding: 10px 40px 0px 40px;
}




 @media screen and (max-width: 550px) {
  body{
    padding: 0px;
    margin: 0px;
  }
.burger{
  display: block;

}

  .home{

    /*border: none;*/
    padding: 10px;
    border: none;

}

#navbar{
  height: 350px;
  background-color: silver;
 padding: 0px;
 margin: 0px;

}

  nav{
    flex-direction:column;
    text-align: center;
    display:flex;

  }

  nav a{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 20px;




  }
  .pp{
    display: none;
  }
  
.ppp{
  display: block;
  margin: 0px auto;

}

#head{
  display: inline;
}
.topp{
  /*display: inline;*/
  text-align: center;
  font-size: 12px;

}
  .topbtn{
    display: none;
  }



  